<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <servlet>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>ru.itpark.servlets.HelloServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>usersServlet</servlet-name>
    <servlet-class>ru.itpark.servlets.UsersServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>usersServlet</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
</web-app>