<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="usersService" class="ru.itpark.services.UsersServiceImpl">
        <constructor-arg name="usersRepository" ref="usersRepository"/>
        <property name="passwordEncoder" ref="passwordEncoder"/>
    </bean>

    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <bean id="usersRepository" class="ru.itpark.repositories.UsersRepositoryJdbcTemplateImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="jdbc:postgresql://localhost:5432/it_park_group_5"/>
        <property name="username" value="postgres"/>
        <property name="password" value="Zaq12wsx"/>
        <property name="driverClassName" value="org.postgresql.Driver"/>
    </bean>
</beans>