<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="messagePrinter" class="ru.itpark.MessagePrinterErrImpl">
        <constructor-arg name="message" ref="messageKsusha"/>
    </bean>

    <bean id="messageMarsel" class="ru.itpark.MessageByeImpl">
        <constructor-arg name="text" value="Marsel"/>
    </bean>

    <bean id="messageKsusha" class="ru.itpark.MessageHelloImpl">
        <constructor-arg name="text" value="Ksusha"/>
    </bean>
</beans>